@model List<Weather>
@{
    ViewData["Title"] = "Home Page";
    Dictionary<string, string> clima = new Dictionary<string, string>()
    {
        { "soleado", "https://cdn-icons-png.flaticon.com/512/1146/1146869.png" },
        { "caluroso", "https://cdn-icons-png.flaticon.com/512/869/869869.png" },
        { "lluvioso", "https://cdn-icons-png.flaticon.com/512/3104/3104619.png"},
        { "nublado", "https://cdn-icons-png.flaticon.com/512/1163/1163624.png"},
        { "nevado", "https://icons-for-free.com/iconfiles/png/512/snow+snowflake+icon-1320196576576887593.png"}
    };
    string img = "", condicion = "", fondo = "";
}

<div class="text-center">
    <h1 class="display-4">Climas de ciudades de Colombia</h1>
</div>
@{/*
 *
                    * <a asp-action="WeatherController" asp-controller="Home" asp-route-idWeather="0" class="btn btn-success btn-sm">Nuevo clima</a>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" style="width: 100%">
        @foreach (var item in Model)
        {
            @if (item.Temperature is > 24  and < 31)
            {
                img = clima["soleado"];
                condicion = "Soleado";
            }
            @if (item.Temperature is > 31)
            {
                img = clima["caluroso"];
                condicion = "Caluroso";
            }
            @if (item.Temperature <= 10)
            {
                img = clima["lluvioso"];
                condicion = "Lluvioso";
            }
            @if (item.Temperature is > 10 and < 24)
            {
                img = clima["nublado"];
                condicion = "Nublado";
            }
            @if (item.Temperature is < 10)
            {
                img = clima["nevado"];
                condicion = "Nevando";
            }

            <div class="col-md-8 col-lg-6 col-xl-4" style="padding-bottom: 1.5em">

                <div class="card" style="color: #4B515D; border-radius: 20px;">
                    <div class="card-body p-4">

                        <div class="d-flex">
                            <h2 class="flex-grow-1" style="margin: auto;">@item.City</h2>
                        </div>

                        <div class="d-flex flex-column text-center mt-5 mb-4">
                            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> @item.Temperature°C </h6>
                            <span class="small" style="color: #868B94; font-size: 30px">@condicion</span>
                        </div>

                        <div class="d-flex align-items-center" style="justify-content: center;">
                            <div>
                                <img src=@img
                                 width="100px">
                            </div>
                        </div>
                        <div style="align-items: center; margin-top:1em">
                            <a asp-action="Weather" asp-controller="Home" style="width: 45%; margin:auto" asp-route-idWeather="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Delete" asp-controller="Home" style="width: 45%;  margin:auto" asp-route-idWeather="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>


</div>


                    */}
