@using System.Net
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CoreMVC.Models.Weather>

@{
    ViewData["Title"] = "Climas de Colombia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, string> clima = new Dictionary<string, string>()
    {
        { "soleado", "../icons/cloudy-day-3.svg" },
        { "caluroso", "../icons/day.svg" },
        { "lluvioso", "../icons/rainy-7.svg"},
        { "nublado", "../icons/cloudy.svg"},
        { "nevado", "../icons/snowy-6.svg"}
    };
    string img = "", condicion = "";
    string regular = @"^(ht|f|sf)tp(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$";
    string regular123 = @"^(www.)[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$";

    bool ValidImgFormat(string img)
    {
        if (Regex.IsMatch(img, regular))
            return true;
        else if
            (Regex.IsMatch(img, regular123)) return true;
        else
            return false;
    }

    bool DoesImageExistRemotely(string uriToImage)
    {
        HttpWebRequest request = (HttpWebRequest)WebRequest.Create(uriToImage);

        request.Method = "HEAD";

        try
        {
            using (HttpWebResponse response = (HttpWebResponse)request.GetResponse())
            {

                if (response.StatusCode == HttpStatusCode.OK)
                    return true;
                else
                    return false;
            }
        }
        catch (WebException)
        { return false; }
        catch
        {
            return false;
        }
    }
}


<div class="text-center">
    <h1 class="text-weather display-4">Climas de ciudades de Colombia</h1>
    <div class="text-and-button">
        <span class="text-new-weather">Añadir nuevo clima  </span><a asp-action="Create" class="new-weather">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>


<div class="contenido-principal">
    <div class="container p-3">
        <div class="containercards row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                var imgUrl = item.CityImageUrl;
                var imgIsValid = ValidImgFormat(imgUrl);
                var imgExists = imgIsValid && DoesImageExistRemotely(item.CityImageUrl);


                var fondo = "";
                fondo = imgExists ? item.CityImageUrl : "";

                @if (item.Temperature is > 24 and < 31)
                {
                    img = clima["soleado"];
                    condicion = "Soleado";
                    if (string.IsNullOrEmpty(fondo))
                        fondo = "https://static9.depositphotos.com/1100968/1233/i/950/depositphotos_12331218-stock-photo-central-park-at-sunny-day.jpg";
                }
                @if (item.Temperature is > 31)
                {
                    img = clima["caluroso"];
                    condicion = "Caluroso";
                    if (string.IsNullOrEmpty(fondo))
                        fondo = "https://amqueretaro.com/wp-content/uploads/2022/06/Estas-son-las-ciudades-ma%CC%81s-calurosas-del-mundo-1200x867.jpg";
                }
                @if (item.Temperature <= 10)
                {
                    img = clima["lluvioso"];
                    condicion = "Lluvioso";
                    if (string.IsNullOrEmpty(fondo))
                        fondo = "https://www.enterat.com/_images/servicios/ciudadeslluviosas.jpg";
                }
                @if (item.Temperature is > 10 and < 24)
                {
                    img = clima["nublado"];
                    condicion = "Nublado";
                    if (string.IsNullOrEmpty(fondo))
                        fondo = "https://thumbs.dreamstime.com/b/ciudad-nublada-de-pittsburgh-165177658.jpg";
                }
                @if (item.Temperature is < 10)
                {
                    img = clima["nevado"];
                    condicion = "Nevando";
                    if (string.IsNullOrEmpty(fondo))
                        fondo = "https://content.skyscnr.com/m/0c3de660064b7c21/original/GettyImages-527396541.jpg?resize=1800px:1800px&quality=100";
                }

                <div class="col">
                    <div class="card bg-dark">
                        <div class="card-header">
                            <div class="card-title">
                                <h2 class="title-city">@item.City</h2>
                            </div>

                            <div class="city-state">
                                <p class="grados-centigrados">@item.Temperature°C</p>
                                <h5 class="">@condicion</h5>
                                <img src=@img />
                            </div>
                        </div>

                        <img src=@fondo class="card-img-top" />
                        <div class="card-body ">
                            <div class="min-max">
                                <p class="min">Min: @item.TempMin°C</p>
                                <p class="max">Max: @item.TempMax°C</p>
                            </div>
                            <div class="options">
                                <a href="@Url.Action("Edit", new { id=item.Id })" class="btn-option btn btn-primary" type="button"><i class="fa-sharp fa-solid fa-pencil"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn-option btn btn-danger" type="button"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

